<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517554712204-mr8ctbi32809b99ma2rumrdakh19j40t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517554712204-mr8ctbi32809b99ma2rumrdakh19j40t</string>
	<key>API_KEY</key>
	<string>AIzaSyDjjKSQkSO7rTKYIhgUa7MJ8EalfHNo-GE</string>
	<key>GCM_SENDER_ID</key>
	<string>517554712204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faizankhalid.instarlaxcy</string>
	<key>PROJECT_ID</key>
	<string>starlaxcy</string>
	<key>STORAGE_BUCKET</key>
	<string>starlaxcy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517554712204:ios:ce5cf89f248b644c</string>
	<key>DATABASE_URL</key>
	<string>https://starlaxcy.firebaseio.com</string>
</dict>
</plist>